#navbar .nav-brand {
  float: none;
  text-align: center;
}
#navbar ul,
#navbar ul li {
  float: none;
}
#navbar ul li a {
  padding: 5px;
  border-bottom: 1px dotted #444;
}

#showcase {
  height: 100%;
}
#showcase .showcase-content {
  color: #fff;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 30px;
}

#home-info .info-img {
  display: none;
}

#home-info .info-content {
  float: right;
  width: 100%;
  height: 100%;
}

.box {
  float: none;
  width: 100%;
}

/* about page */
#about-info .info-right,
#about-info .info-left {
  float: none;
  width: 100%;
}

.l-heading {
  text-align: center;
}
#about-info .info-right .info-image {
  width: 100%;
  display: block;
  margin: auto;
  border-radius: 50%;
  clip-path: circle();
}

#contact-info .box {
  border-bottom: 1px dotted #444;
}
